@model List<InfoModel>
@{
    ViewData["About"] = "About Page";
}

<div class="alert alert-primary">@Model.ElementAt(1).Description
    <h1 class="display-4">About</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
| InfoModel |
@foreach (var infoModel in Model)
{
    <p>@infoModel.Title </p>
    <p>@infoModel.Description</p>

    foreach (var tag in infoModel.Tags)
    {
        <p>@tag</p>
    }
    <div class="container text-center">

        <div class="row">

            <div class="col-sm-4 border">
                Column
            </div>

            <div class="col-sm-1 border">
                Column
            </div>

            <div class="col-sm-1 border">
                Column
            </div>

            <div class="col-sm-6 border">
                Column
            </div>

        </div>

    </div>


}
